<body>
<div class="body">
  <div class="sign-up-page">
    <div class="sign-up">
      <h1>Log in</h1>
    </div>
    <div class="fa-sign-up">
      <div class="to-login">
        <span>New to this site?</span>
        <button class="to-login-button" routerLink="/authorization">Sign Up</button>
      </div>
      <form>
        <div class="input-labels">
          <div class="auth-email">
            <div class="label">
              <label>Email</label>
            </div>
            <div class="input">
              <input>
            </div>
          </div>
          <div class="auth-pass">
            <div class="label">
              <label>Password</label>
            </div>
            <div class="input">
              <input>
            </div>
          </div>
        </div>
        <div>
          <a href="" class="fg-pass">Forgot password?</a>
        </div>
        <div class="bttn">
          <div class="center-bttn">
            <button class="sign-up-bttn" type="submit" routerLink="/home">
              <span class="sign-up-txt">Log in</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>


