<div class="container">

  <div class ="photo">
    <img src="https://static.wixstatic.com/media/11062b_cdb2728c7c284efebf1444ef0cc4179c~mv2.jpeg/v1/fill/w_1655,h_825,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/11062b_cdb2728c7c284efebf1444ef0cc4179c~mv2.webp"
         width="800" height="550" >
    <h2>About</h2>

  </div>

  <p class="products">Smart, Affordable Products</p>
  <p class="about-products">Our online store was founded by like-minded individuals, a group of professionals dedicated to building innovative,
    smart and easy online shopping solutions.
    At Next Chapter, we guarantee that every single purchase you make will be a seamless process from start to finish.
    Take a look at our site and get in touch with questions or concerns.</p>

</div>

